<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Refresh Schedule</h4>
</div>
<div class="modal-body">
    <div class="radio">
        <label>
            <input type="radio" value="periodic" ng-model="refreshType">
            <query-refresh-select ng-disabled="refreshType != 'periodic'"></query-refresh-select>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" value="daily" ng-model="refreshType">
            <query-time-picker ng-disabled="refreshType != 'daily'"></query-time-picker>
        </label>
    </div>

    <div class="radio">
        <span class="text-muted">Save to s3</span>
        <input type="checkbox" ng-model="query.options['S3_checkbox']" ng-change="saveQuery()">

        <span class="text-muted">Save to s3 and redshift</span>
        <input type="checkbox" ng-model="query.options['redshift_checkbox']" ng-change="saveQuery()">
    </div>
</div>
