<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Refresh Schedule</h4>
</div>
<div class="modal-body">
    <div class="radio">
        <label>
            <input type="radio" value="periodic" ng-model="$ctrl.refreshType">
            <query-refresh-select refresh-type="$ctrl.refreshType" query="$ctrl.query" save-query="$ctrl.saveQuery"></query-refresh-select>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" value="daily" ng-model="$ctrl.refreshType">
            <query-time-picker refresh-type="$ctrl.refreshType" query="$ctrl.query" save-query="$ctrl.saveQuery"></query-time-picker>
        </label>
    </div>

    <span class="text-muted">Save to S3</span>
    <input type="checkbox" ng-disabled="$ctrl.query.schedule == null || $ctrl.query.privileged" ng-model="$ctrl.query.options['save_scheduled_result_to_s3']" ng-change="$ctrl.saveQuery()">

    <span class="text-muted">Save to S3 and Redshift</span>
    <input type="checkbox" ng-disabled="$ctrl.query.schedule == null || $ctrl.query.privileged" ng-model="$ctrl.query.options['save_scheduled_result_to_s3_and_redshift']" ng-change="$ctrl.saveQuery()">
</div>
